<div class="container">
  <div class="col">
      <img src="assets\LOGO.jpeg" alt="Starkwiz">
    <h2 style = "margin-left:60px;margin-top:200px">Registration</h2>
    <p style = "margin-left:60px;color:cyan">Enter your mobile number,we will send <br>
    you OTP to verify later</p>
    <form style="margin-top:50px;">
      <input type="text" name="" placeholder="Mobile Number">
   </form>
   <button class="button button5"(click)="fifth()">Continue</button>
   <button style = "color:black;margin-top:200px;font-size:12px;border:none;background-color:inherit;
   width:100%;margin-left:-40px;" (click) = "seventh()">LOGIN WITH EMAIL        >
   </button>

  </div>
</div>
