.mainnav{
  width: 100%;
  height: 50px;


  background-color: black;
}

video {
  width: 100%;
  height: auto;
  overflow: scroll;
  bottom: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
    justify-content: space-around;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  justify-content:space-between;
  width: 100%;
}
.gg-play-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
}
.gg-play-button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 6px;
    left: 9px
}

.navbar a {
  float: left;


  color: #f2f2f2;

  padding: 10px  ;
  padding-left: 0px;

  text-decoration: none;
  font-size: 10px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {

  color: cyan;
}

.main {
  padding: 10px;
  margin-bottom: 30px;
}
@media screen and (min-width:400px) {
 i{
   margin-left: 80%;
 }

}
button{
  border-radius: 150px;
  background-color: rgb(137,207,240);
  color: white;
  width: 15%;
  height: 70px;
  border-color: rgb(137,207,240);
  margin-top: 20%;
  margin-left: 20%;
  margin-bottom: 20%;
  border: none;
}
.app_vedios{
  position: relative;
  height: 750px;
  background-color: white;
  overflow: scroll;
  width: 100%;
  border-radius: 20px;
  -ms-overflow-style:none;
  scrollbar-width:none;
}
.app_vedios::-webkit-scrollbar{
  display: none;
}
.vedio{
  position: relative;
  height: 100%;
  width: 100%;
}
.vedio_player{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
