<div class="mainnav">

  <div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
<a href="#">About</a>
<a href="#">Services</a>
<a href="#">Clients</a>
<a href="#">Contact</a>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href='https://css.gg/play-button.css' rel='stylesheet'>


<span style="font-size:30px;cursor:pointer;color:white;margin-left:2%;" (click)="openNav()">&#9776; </span>
<a style="color:white;margin-left:20%;font-size:25px;font-weight:bold;font-style:italic;">Starkwiz</a>
<span><i class="fa fa-filter" style="font-size:30px;color:white;"></i></span>
<span><i class="fa fa-camera" style="font-size:30px;color:white;"></i></span>

</div>
 <div class="app_vedios"> <!---app_vedios startrs --->
   <div class="vedio"><!---vedio starts --->
     <video (click)="playpause()"  class="vedio_player">
       <source src="assets/Baby_goats.mp4" type="video/mp4">

         </video>
    <!--- <div class="playbutton"  <button (click)="playpause()" type="button" name="button"><i class="fa fa-play" style="font-size:34px;color:white;"></i>
  </button>

      </div> --->

   <div class="videoSidebar"> <!-- vediosidebarstarts -->
           <div class="videoSidebar__button">
             <span class="material-icons"> thumb_up </span>
             <p>12</p>
           </div>

           <div class="videoSidebar__button">
             <span class="material-icons"> thumb_down </span>
             <p>23</p>
           </div>

           <div class="videoSidebar__button">
             <span class="material-icons"> share </span>
             <p>75</p>
           </div>
           <div class="videoSidebar__button">
             <span class="material-icons">visibility</span>
             <p>23</p>
           </div>
         </div>
          <!--- videoSidebar ends>

   <!--- vediofooter starts --->

   <div class="videoFooter">
           <div class="videoFooter__text">
             <img class="user__avatar" src="assets\img_avatar.png" alt="" />
             <h3>Soumya • <button>Follow</button></h3>
           </div>


           </div>


   <!--vediofooter ends --->
    <!--app_vediosends -->
     <!--videoends-->

       </div>
       </div>


       <div class="app_vedios"> <!---app_vedios startrs --->
         <div class="vedio"><!---vedio starts --->
           <video (click)="playpause()"  class="vedio_player">
             <source src="assets/Baby_goats.mp4" type="video/mp4">

               </video>
          <!--- <div class="playbutton"  <button (click)="playpause()" type="button" name="button"><i class="fa fa-play" style="font-size:34px;color:white;"></i>
        </button>

            </div> --->

         <div class="videoSidebar"> <!-- vediosidebarstarts -->
                 <div class="videoSidebar__button">
                   <span class="material-icons"> thumb_up </span>
                   <p>12</p>
                 </div>

                 <div class="videoSidebar__button">
                   <span class="material-icons"> thumb_down </span>
                   <p>23</p>
                 </div>

                 <div class="videoSidebar__button">
                   <span class="material-icons"> share </span>
                   <p>75</p>
                 </div>
                 <div class="videoSidebar__button">
                   <span class="material-icons">visibility</span>
                   <p>23</p>
                 </div>
               </div>
                <!--- videoSidebar ends>

         <!--- vediofooter starts --->

         <div class="videoFooter">
                 <div class="videoFooter__text">
                   <img class="user__avatar" src="assets\img_avatar.png" alt="" />
                   <h3>Prakash • <button>Follow</button></h3>
                 </div>


                 </div>


         <!--vediofooter ends --->
          <!--app_vediosends -->
           <!--videoends-->

             </div>
             </div>
             <div class="app_vedios"> <!---app_vedios startrs --->
               <div class="vedio"><!---vedio starts --->
                 <video (click)="playpause()"  class="vedio_player">
                   <source src="assets/Baby_goats.mp4" type="video/mp4">

                     </video>
                <!--- <div class="playbutton"  <button (click)="playpause()" type="button" name="button"><i class="fa fa-play" style="font-size:34px;color:white;"></i>
              </button>

                  </div> --->

               <div class="videoSidebar"> <!-- vediosidebarstarts -->
                       <div class="videoSidebar__button">
                         <span class="material-icons"> thumb_up </span>
                         <p>12</p>
                       </div>

                       <div class="videoSidebar__button">
                         <span class="material-icons"> thumb_down </span>
                         <p>23</p>
                       </div>

                       <div class="videoSidebar__button">
                         <span class="material-icons"> share </span>
                         <p>75</p>
                       </div>
                       <div class="videoSidebar__button">
                         <span class="material-icons">visibility</span>
                         <p>23</p>
                       </div>
                     </div>
                      <!--- videoSidebar ends>

               <!--- vediofooter starts --->

               <div class="videoFooter">
                       <div class="videoFooter__text">
                         <img class="user__avatar" src="assets\img_avatar.png" alt="" />
                         <h3>Pramod • <button>Follow</button></h3>
                       </div>


                       </div>


               <!--vediofooter ends --->
                <!--app_vediosends -->
                 <!--videoends-->

                   </div>
                   </div>



<div class="navbar">
<a routerLink = "/hubs">Hub</a>
<a routerLink = "/dynamo">Dynamo</a>
<a routerLink="/showcase" class="active">showcase</a>
<a routerLink="/myquiz">My quiz</a>
<a routerLink="/bookfest">Bookfest</a>
</div>
