
  <div class="container">
     <div class="col">

   <p style = "color:cyan;">Terms of service</p>
  <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
    <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
    <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
      <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
        <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
          <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
            <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
              <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                  <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                    <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                      <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                      v
                        <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                        v
                          <p style = "font-size:12px;">AGREEMENT TO TERMS</p>

                            <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                              <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                                <p style = "font-size:12px;">AGREEMENT TO TERMS</p>
                                  <p style = "font-size:12px;">AGREEMENT TO TERMS</p>

                                  <div class="card">
                                    <div class="col">
                                      <button class="button button5" (click)="gotosecondpage()">YES,It's Ok!</button>
                                        <button class="button button4" (click)="gotosecondpage()">No Thanks !</button>
                                    </div>
                                  </div>

       </div>
       </div>
