
.card {
  /* Add shadows to create the "card" effect */

  transition: 0.3s;
overflow:hidden;
 transition: 0.3s;
 border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
 margin-bottom: 20px;
  position: fixed;
  margin-right: 5%;
  bottom: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
button{
 background-color: rgb(0,49,83);
 margin-top: 10px;
 margin-left: 50px;
 width: 70%;
 border-radius: 25px;
 color:white;
 font-weight: bold;
 height: 40px;
 border-color: rgb(0,49,83) ;

 text-decoration-style: solid;
}
.scrooling{
  margin-left: 10%;
  margin-right: 5%;
  overflow-y: scroll;;
}
.button4{background-color: white;color:cyan;border-color: cyan};
