<div class="card">
  <div class="container">
     <div class="col">
       <h3>Enter OTP</h3>
      <p style = "text-align:center;font-size:12px;">
        Please enter the 6 digit <br>
        verification code we have just send to <br>
        +91 5290570595
      </p>
      <form>
          <input type="text" name="" >
      </form>
      <p style = "color:cyan;">00:50 AM</p>
      <p>Didnt recive any code ! <span class = "resend"><a href="#">Resend</a></span></p>
        <button class="button button5" (click)="sixth()">Verify</button>

     </div>
  </div>
</div>
