<div class="card">

  <div class="container">
       <h3  style= "font-family: Arial, Helvetica, sans-serif;margin-top:20px;color:rgb(0,49,83);padding:20px;">Enter OTP</h3>
     <div class="col">

      <p style = "text-align:center;font-size:12px;font-family: Arial, Helvetica, sans-serif;">
        Please enter the 6 digit <br>
        verification code we have just send to <br>
        +91 5290570595
      </p>
      <form>
          <input type="text" name="" >
      </form>
      <p style = "color:cyan;">00:50 </p>
      <p>Didnt recive any code ! <span class = "resend"><a   href="#">Resend</a></span></p>
        <button class="button button5" (click)="sixth()">Verify</button>

     </div>
  </div>
</div>
