
.col{
  margin: 50px;
}
.col img {
  max-width: 100%;
  height: 100px;
  position: fixed;
  top:0;
}
.col h2{
  text-align:center;
  margin-top:150px;
  margin-left: -90px;

}
.col p{
  text-align: center;
  color: cyan;
  margin-left: -30px;
}
.col input[type = text]{
  box-sizing: border-box;
  width: 50%;
  height: 30px;
  margin-left: 70px;
  border: none;

  margin-top: 30px;
}
.col button{
  background-color: cyan;
  margin-top: 30px;
  margin-left: 70px;
  width: 50%;
  border-radius: 25px;
  height: 30px;
  font-weight: bold;
  border: none;
  text-decoration-style: solid;
}
.login{
  margin-top: 400px;
  color: none;
  font-size: 20px;
}
