<div class="container">
  <div class="col">
    <img src="assets\LOGO.jpeg" alt="Starkwiz">

    <h2>Registration</h2>

    <p>Enter your Email id we will send <br>
    you OTP to verify later </p>

      <form >
        <input type="text" name="" placeholder="Email id">
     </form>

      <button class="button button5" (click) = "gotopage()">continue</button>

      <button style = "color:black;margin-top:300px;font-size:12px;font-weight:bold;border:none;background-color:inherit;
      width:100%;margin-left:-30px;" (click) = "gotopage2()">LOGIN WITH MOBILE NUMBER        >
      </button>

  </div>
</div>
