<div class="container">
<div class="col">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <img src="assets\LOGO.jpeg" alt="Starkwiz">
  <p style="color:rgb(0,191,255);margin-left:80px;margin-top:60px;">You would like to <br>
    Sign in as</p>

      <button class="button button5" id="student" >Student</button>
        <button class="button button4" id="parent">Parent</button>
          <button class="button button3" id="teacher">Teacher</button>

    <p> <a routerLink= "/knowmore" style = "color:rgb(0,191,255);text-align:center;margin-top:30px;margin-left:20%;">
      <i style="padding:15px 20px;;" class="fa fa-info-circle"></i>Know more</a></p>
<button class="button button6" (click)="fourth()">Proceed</button>

</div>
</div>
