<div class="container">
<div class="col">
    <img src="assets\LOGO.jpeg" alt="Starkwiz">
  <p style="color:cyan;margin-left:80px;margin-top:60px;">You would like to <br>
    Sign in as</p>

      <button class="button button5" (click)="seventh()">Student</button>
        <button class="button button4"(click)="fourth()">Parent</button>
          <button class="button button3"(click)="teacher()" >Teacher</button>

    <p> <a routerLink= "/knowmore" style = "color:cyan;text-align:center;margin-top:30px;margin-left:140px;">Know more</a></p>
<button class="button button6" (click)="tittok()">Proceed</button>

</div>
</div>
