<div class="container">
  <div class="col">
    <a routerLink="/instructionbackend" class="notification">
   <span style="color:black;">Daily quiz 1</span>
   <span class="badge">3</span>
 </a>
 <a routerLink="/instructionbackend" class="notification">
<span style="color:black;">Daily quiz 1</span>
<span class="badge">2</span>
</a>
<a href class="notification">
<span style="color:black;">Daily quiz 1</span>
<span class="badge">3</span>
</a>
<a href="#" class="notification">
<span style="color:black;">Daily quiz 1</span>
<span class="badge">3</span>
</a>
<a href="#" class="notification">
<span style="color:black;">Daily quiz 1</span>
<span class="badge">3</span>
</a>
<a href="#" class="notification">
<span style="color:black;">Daily quiz 1</span>
<span class="badge">3</span>
</a>

  </div>
</div>
