


   <div class="mainnav">

     <div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
   <a href="#">About</a>
   <a href="#">Services</a>
   <a href="#">Clients</a>
   <a href="#">Contact</a>
 </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



 <span style="font-size:30px;cursor:pointer;color:white;margin-left:2%;" (click)="openNav()">&#9776; </span>
  <a style="color:white;margin-left:20%;font-size:25px;font-weight:bold;font-style:italic;">Starkwiz</a>
    <i class="fa fa-filter" style="font-size:20px;color:white;"></i>
  <i class="fa fa-camera" style="font-size:20px;color:white;"></i>

   </div>


<div class="navbar">
  <label for=""><a routerLink = "/hubs"> Hub</a></label>

  <a routerLink = "/dynamo">Dynamo</a>
  <a routerLink="/showcase" class="active">showcase</a>
  <a routerLink="/myquiz">My quiz</a>
  <a routerLink="/bookfest">Bookfest</a>
</div>
