<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   <div class="mainnav">
     <div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
   <a href="#">About</a>
   <a href="#">Services</a>
   <a href="#">Clients</a>
   <a href="#">Contact</a>
 </div>


 <span style="font-size:30px;cursor:pointer;color:white" (click)="openNav()">&#9776; </span>
   </div>

<div class="navbar">
  <a routerLink = "/hubs">Hub</a>
  <a routerLink = "/dynamo">Dynamo</a>
  <a routerLink="/showcase" class="active">showcase</a>
  <a routerLink="/myquiz">My quiz</a>
  <a routerLink="/bookfest">Bookfest</a>
</div>
