
  <div class="container">
     <div class="col">
       <p style = "text-align:center;font-size:25px;font-weight:bold;font-family: Arial, Helvetica, sans-serif">Types of User</p>

      <p style="margin:10px;">These Terms of service consitute a legally binding agreement made
        between you wether  personally on or behalf of an entity ("you")  and [business enity name] ["we","us","our",]concering your access to and use of the binding agreement made between you, wether personally
         or on behalf of an </p>

         <button class="button button5">Okay</button>
</div>
</div>
