<div class="container">
  <div class="col">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
      <img src="assets\LOGO.jpeg" alt="Starkwiz">
    <h3 style = "margin-left:60px;margin-top:40px;font-family: 'Roboto', sans-serif;">Personal</h3>
    <h3 style = "margin-left:60px;font-family: 'Roboto', sans-serif;">Information</h3>
    <p style = "margin-left:60px;color: rgb(0,191,255);margin-top:-10px;">Let yours mates recognize you</p>
    <form >
      <input type="text" name="" placeholder="First name">
   </form>
   <form >
     <input type="text" name="" placeholder="Last name">
  </form>
  <label for="male"> <input type="checkbox" name="" value="" style="margin-left:60px;margin-top:30px;font-family: 'Roboto', sans-serif;"> Female</label>
  <label for="male"> <input type="checkbox" name="" value="" style="margin-left:40px;font-family: 'Roboto', sans-serif;"> Male</label>


  <form style="margin-top:10px;">
    <input type="text" name="" placeholder="Date of birth">

 </form>
 <p style= "margin-left:60px;font-family: 'Roboto', sans-serif; color:rgb(0,191,255)">Classes you are teaching now</p>
 <div class="checkbox">
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:60px;margin-top:30px;font-family: 'Roboto', sans-serif;">4</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;font-family: 'Roboto', sans-serif;">5</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;margin-top:30px;font-family: 'Roboto', sans-serif;">6</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;font-family: 'Roboto', sans-serif;">7</label>


 </div>
 <div class="checkbox">
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:60px;margin-top:30px;padding:10px 16px;">8</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;">9</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;margin-top:30px;">10</label>



 </div>
 <p style= "margin-left:60px;margin-top:30px;font-family: 'Roboto', sans-serif;color:rgb(0,191,255)">School Board</p>
 <label for="male"> <input type="checkbox" name="" value="" style="margin-left:60px;padding:10px 16px;font-family: 'Roboto', sans-serif;">ICSE</label>
 <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;font-family: 'Roboto', sans-serif;">CBSE</label>
 <div >
     <button class="button button5" (click)="fourth()" >Proceed</button>
 </div>


  </div>
</div>
