
.container{
  height: 500px;
  width: 250px;
  margin-top: 300px;


  margin-left:120px;
  margin: 60px;
  overflow:scroll;

  border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col p{
  margin-left: 30px;
}
.card{
  bottom: 0;

}
button{
 background-color: #000080;
 margin-top: 10px;
 margin-left: 20px;
 width: 80%;
 border-radius: 25px;
 color:white;
 font-weight: bold;
 height: 30px;
 border-color: black;

 text-decoration-style: solid;
}
