<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
<div class="column">
  <p><i style="font-size:60px" class="arrow left"></i></p>
</div>
<div class="column">
<img src="assets\LOGO.jpeg" alt="">
</div>
<div class="column">
  <i class="material-icons" style="font-size:30px;color:cyan;margin-left:60%;margin-top:10px">notifications_active</i>

</div>
</div>
<hr>

  <form >
    <input type="text" name="" placeholder="Search..">
  
  </form>
