<div class="container">
  <div class="col">
      <img src="assets\LOGO.jpeg" alt="Starkwiz">
    <h2 style="margin-left:20%;">Welcome !</h2>
    <div class="isd">
      <p style="color:cyan;">India's scholastic digital <br>
      showcase</p>
      <p>An Online competitive platform for <br>
      students of class 4 to 10</p>
      <p>Both ICSE and CBSE board syllabus <br>
      of India</p>
      <p>A Test every month for each of your <br>
       favorite Subject. Challenge yourself!</p>

       <p>Discover and Connect to your new <br>
       mates and see how they are performing</p>
    </div>

     <div class="links">
       <label style="margin-left:20%;">

      <input type="checkbox" name="" >By Singinig uo you accept our <br>
      <a routerLink = "/termsandcondition" style="margin-left:20%">Terms of Service</a>
       and <a routerLink= "/privacypolicy">Privacy Policy</a>
       </label>
     </div>


    <button class="button button5" (click) = "third()">Get Started !</button>

  </div>
</div>
