<div class="container">
  <div class="col">
      <img src="assets\LOGO.jpeg" alt="Starkwiz">
    <h2 style = "margin-left:20%;margin-top:40px;">Personal</h2>
    <h2 style = "margin-left:20%;">Information</h2>
    <p style = "margin-left:20%;color:cyan;margin-top:-10px;">Let yours mates recognize you</p>
    <form >
      <input type="text" name="" placeholder="First name">
   </form>
   <form >
     <input type="text" name="" placeholder="Last name">
  </form>
  <label for="male"> <input type="checkbox" name="" value="" style="margin-left:20%;margin-top:30px;"> Female</label>
  <label for="male"> <input type="checkbox" name="" value="" style="margin-left:20%;"> Male</label>


  <form style="margin-top:10px;">
    <input type="text" name="" placeholder="Date of birth">

 </form>
 <p style= "margin-left:20%">Classes you are teaching now</p>
 <div class="checkbox">
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:20%;margin-top:30px;">4</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;">5</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;margin-top:30px;">6</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;">7</label>


 </div>
 <div class="checkbox">
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:20%;margin-top:30px;padding:10px 16px;">8</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;">9</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;margin-top:30px;">10</label>



 </div>
 <p style= "margin-left:20%;margin-top:30px;">School Board</p>
 <label for="male"> <input type="checkbox" name="" value="" style="margin-left:20%;padding:10px 16px;">ICSE</label>
 <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;">CBSE</label>
  <button class="button button5"  >Proceed</button>

  </div>
</div>
