<div class="hubrepeat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
    <li><i class="fa fa-chevron-circle-left" style="font-size:30px;color:rgb(137,207,240);padding:15px;" (click)="hello()"></i></li>

    <img src="assets\LOGO.jpeg" alt="">
  <li style="float:right"><i class="fa fa-bell" style="font-size:24px;padding:15px;color:rgb(137,207,240);" ></i></li>
  </ul>

</div>
<hr>
<input type="text" name="" value="" placeholder="Search">
<div class="card">

  <div class="container">

     <div class="col">

       </div>
       </div>
       </div>
   <div class="row">
     <div class="column" style="margin-left:10%;">
      <p style="margin-top:-10%;">Gopa office stationary</p>
      <p>Patia,Bhubhanewar</p>
     </div>
     <div class="column" style="margin-left:10%;">
      <p>4.5</p>
      <p>19 ratings</p>
     </div>
   </div>
   <div class="row">
     <div class="column" style="margin-left:15%;">
    <button class="button button1" type="button" name="button" (click)="offers()">Offers</button>
     </div>
     <div class="column" style="margin-left:20%;">
    <button class="button button2" type="button" name="button" (click)="gotonoticescreen()">Notice</button>
     </div>
   </div>
   <div class="row row1">
     <div class="column" style="margin-left:14%;">
    <button class="button button3"  type="button" name="button" style="margin-top:17%;margin-button:10%;">
      <i class="fa fa-phone" style="font-size:24px"></i> Call Now</button>
     </div>
     <div class="column" style="margin-left:12%;margin-bottom:50%;">
    <button  class="button button4"  type="button" name="button" style="margin-top:18%;background-color:rgb(137,207,240)">Send Enquiry</button>
     </div>
   </div>
