.column {
  float: left;
  width: 33.33%

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.arrow {
  border: solid cyan;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
img{
  height: 60px;
  width: 80%;
  margin-top: 10px;
}
input[type=text] {
  width: 80%;
  border-radius: 20px;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 17px;
}
.container{
  height: 100px;
  width: 80%;
  margin-top: 10px;
  border-radius: 20px;
  margin-left: 16px;

}
.column p{
margin-left: 16px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: white;
  color: black;
    margin-left: 16px;
  border: 2px solid #008CBA;
}
.button3 {
  background-color: white;
  color: black;
  font-size:15px;
    margin-left: 16px;

  border: 2px solid #008CBA;
  padding: 7px 20px;
}
.button4{
  background-color: white;
  color: black;
  width: 100%;
  background-color: rgb(135, 206, 235);
  font-size:12px;
    margin-left: 16px;
  border: 2px solid #008CBA;
  padding: 7px 25px;
}
