<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
<div class="column">
  <p style="margin-top:10%"><i style="font-size:80px;margin-left:5%;" class="arrow left"></i></p>
</div>
<div class="column" >
<img src="assets\LOGO.jpeg" alt="" style="border-radius:25px;">
</div>
<div class="column">
  <i class="material-icons" style="font-size:30px;color:cyan;margin-left:60%;margin-top:10px">notifications_active</i>

</div>
</div>
<hr>
<div class="search">
  <input type="text" name="" placeholder="Search..">
</div>
<div class="container">
<img style="width:100%;height:100%" src="assets\shop.jpg" alt="">
</div>
<div class="row">

  <div class="column">
    <p style="margin-left:25%;margin-top:5%">Gopal Stationary shop</p>
  </div>
  <div class="column">
    <p style="margin-left:100%;margin-top:5%">4.5</p>

  </div>
</div>
<div class="row">

  <div class="column">
    <p style="margin-left:20%">Patia,Bhubaneswar</p>
  </div>
  </div>

  <div class="row">

    <div class="column">
<button class="button button2">offers</button>
    </div>
    <div class="column">
<button class="button button2">Notice</button>
    </div>
    </div>
    <div class="row">

      <div class="column">
  <button class="button button3">Call now</button>
      </div>
      <div class="column">
  <button class="button button4">Send Enquiry</button>
      </div>
      </div>
