<div class="container">
  <div class="col">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
      <img src="assets\LOGO.jpeg" alt="Starkwiz">
    <h3 style = "margin-left:60px;margin-top:30px;font-family: 'Roboto', sans-serif;">Personal</h3>
    <h3 style = "margin-left:60px;font-family: 'Roboto', sans-serif;">Information</h3>
    <p style = "margin-left:60px;color:rgb(0,191,255);margin-top:10px;font-family: 'Roboto', sans-serif;font-size:15px;">Let yours mates recognize you</p>
    <form >
      <input type="text" name="" placeholder="First name" style="padding:15px;">
   </form>
   <form >
     <input type="text" name="" placeholder="Last name" style="padding:15px;">
  </form>
  <label for="male"> <input type="checkbox" name="" value="" style="margin-left:60px;margin-top:30px;font-family: 'Roboto', sans-serif;font-size:15px;"> Female</label>
  <label for="male"> <input type="checkbox" name="" value="" style="margin-left:40px;font-family: 'Roboto', sans-serif;font-size:15px;"> Male</label>


  <form style="margin-top:10px;">
    <input type="text" name="" placeholder="Date of birth" style="padding:15px;">

 </form>
 <div class="">
    <p style= "margin-left:60px;font-family: 'Roboto', sans-serif;font-size:15px;margin-top:5%;color:rgb(0,191,255)">Classes you are teaching now</p>
 </div>

 <div class="checkbox">
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:60px;margin-top:30px;font-family: 'Roboto', sans-serif;font-size:15px;">  4</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:20px;font-family: 'Roboto', sans-serif;font-size:15px;">  5</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;margin-top:30px;font-family: 'Roboto', sans-serif;font-size:15px;">  6</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;font-family: 'Roboto', sans-serif;font-size:15px;">  7</label>


 </div>
 <div class="checkbox">
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:60px;margin-top:30px;padding:10px 16px;">  8</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;">  9</label>
   <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;margin-top:30px;">  10</label>



 </div>
 <p style= "margin-left:60px;margin-top:30px;font-family: 'Roboto', sans-serif;font-size:15px;color:rgb(0,191,255)">School Board</p>
 <label for="male"> <input type="checkbox" name="" value="" style="margin-left:60px;padding:10px 16px;font-family: 'Roboto', sans-serif;font-size:15px;">  ICSE</label>
 <label for="male"> <input type="checkbox" name="" value="" style="margin-left:30px;font-family: 'Roboto', sans-serif;font-size:15px;">  CBSE</label>
<div class="">
    <button class="button button5" (click) = "tiktok()">Proceed</button>
</div>


  </div>
</div>
