ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}
img{
  width: 50%;
  margin-left: 10%;
  padding: 20px;

}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
}
.dropbtn {

  color: black;

  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 25%;
  margin-top: 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.button{

 margin-top: 50%;
 margin-left: 50px;
 width: 70%;
 border-radius: 25px;
 color:black;
 font-weight: bold;
 height: 40px;

background-color: rgb(137,207,240);
 text-decoration-style: solid;
}
