<div class="dynamo">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
    <li><i (click)="gotodynamo()"  class="fa fa-chevron-circle-left" style="font-size:20px;color:rgb(137,207,240);padding:15px;"></i></li>

    <img src="assets\LOGO.jpeg" alt="">
  <li style="float:right"><i class="fa fa-bell" style="font-size:20px;padding:15px;color:rgb(137,207,240);" ></i></li>
  </ul>

</div>
<div class="container">
  <div class="column">
 <p style="margin-top:10%;margin-left:5%;">Let's complete your profile for a better and customize user experince</p>
 <div class="dropdown">
  <button class="dropbtn"> Select State <i class="arrow down"></i></button>
  <div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  </div>
</div>
<hr>
<div class="dropdown">
 <button class="dropbtn"> Select Discrit <i class="arrow down"></i></button>
 <div class="dropdown-content">
 <a href="#">Link 1</a>
 <a href="#">Link 2</a>
 <a href="#">Link 3</a>
 </div>
</div>
<hr>
<div class="dropdown">
 <button class="dropbtn"> Select city/block <i class="arrow down"></i></button>
 <div class="dropdown-content">
 <a href="#">Link 1</a>
 <a href="#">Link 2</a>
 <a href="#">Link 3</a>
 </div>
</div>
<hr>
<div class="dropdown">
 <button class="dropbtn"> Select school <i class="arrow down"></i></button>
 <div class="dropdown-content">
 <a href="#">Link 1</a>
 <a href="#">Link 2</a>
 <a href="#">Link 3</a>
 </div>
</div>
<button class="button button6">Proceed</button>
  </div>
</div>
