<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
<div class="column">
  <p><i style="font-size:60px" class="arrow left"></i></p>
</div>
<div class="column">
<img src="assets\LOGO.jpeg" alt="">
</div>
<div class="column">
  <i class="material-icons" style="font-size:30px;color:cyan;margin-left:60%;margin-top:10px">notifications_active</i>

</div>
</div>
<hr>
<div class="tab">
  <button class="tablinks" (click)="dailyquiz()">quizz</button>
  <button style="float:right;" class="tablinks" (click)="coupn()">Lucky coupn</button>

</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
