.column {
  float: left;
  width: 33.33%;
  margin-left: 10%;


}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
.arrow {
  border: solid cyan;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 40%;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
img{
  height: 10%;
  width: 70%;
  
  margin-top: 10px;
}
.container{
  height: 100px;
  width: 100px;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;



  border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4{
  background-color: white;
  color: black;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(135, 206, 235);
  font-size:12px;
    margin-left: 16px;
  border: 2px solid #008CBA;
  padding: 7px 20px;
}
img{
  width: 50%;
  margin-left: 10%;
  padding: 20px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}
