<div class="dynamo">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
    <li><i class="fa fa-chevron-circle-left" style="font-size:30px;color:rgb(137,207,240);padding:20px;" (click)="gototiktok()"></i></li>

    <img src="assets\LOGO.jpeg" alt="">
  <li style="float:right"><i class="fa fa-bell" style="font-size:24px;padding:20px;color:rgb(137,207,240);" ></i></li>
  </ul>

</div>
<hr>
<p style="margin-left:10%;font-size:20px;">Fixture for December has started,
lets dive in !</p>
<p style="margin-left:10%;font-size:25px;margin-top:5%;">Scholastic</p>

<div class="row" >
  <div class="column">
    <div class="container" style=" background-image: conic-gradient(rgb(138,43,226)45deg, rgb(138,43,226)90deg, rgb(223,115,255)210deg,rgb(251,174,210));">
      <p >English Grammer</p>
       <div class="col">

         </div>

         </div>
  </div>

  <div style="margin-left:35px;" class="column">
    <div class="container">
      <p>Science</p>
       <div class="col">

         </div>

         </div>
  </div>


</div>
<div class="row">
  <div class="column">
    <div class="container">
      <p >Maths</p>
       <div class="col">

         </div>

         </div>
  </div>

  <div style="margin-left:35px;" class="column">
    <div class="container">
      <p>Science</p>
       <div class="col">

         </div>

         </div>
  </div>

</div>

<div class="row">
  <div class="column">
    <div class="container">
      <p >Social Studies</p>
       <div class="col">

         </div>

         </div>
  </div>


  <div style="margin-left:35px;" class="column">
    <div class="container">
      <p >Physics</p>
       <div class="col">

         </div>

         </div>
  </div>

</div>
<div class="row">
  <div class="column">
    <div class="container">
      <p >Chemistry</p>
       <div class="col">

         </div>

         </div>
  </div>

  <div style="margin-left:35px;" class="column">
    <div class="container">
      <p >History and civics</p>
       <div class="col">

         </div>

         </div>
  </div>

</div>
<div class="row">
  <div class="column">
    <div class="container">
      <p >Gegoraphy</p>
       <div class="col">

         </div>

         </div>
  </div>

  <div style="margin-left:35px;" class="column">
    <div class="container">
      <p >Biology</p>
       <div class="col">

         </div>

         </div>
  </div>

</div>
<div class="row">
  <div class="column">
    <div class="container">
      <p >General knowlege</p>
       <div class="col">

         </div>

         </div>
  </div>

  <div style="margin-left:35px;" class="column">
    <div class="container">
      <p >Evs</p>
       <div class="col">

         </div>

         </div>
  </div>

</div>
<div class="row">
  <div class="column">
    <div class="container">
      <p >Computer</p>
       <div class="col">

         </div>

         </div>
  </div>

  <div style="margin-left:35px;" class="column">
    <div class="container">
      <p >English Grammer</p>
       <div class="col">

         </div>

         </div>
  </div>

</div>

<p style="margin-left:10%;font-size:25px;margin-top:5%;">Co-Scholastic</p>
<div class="row">
  <div class="column">
    <div class="container">
      <p >Dance</p>
       <div class="col">

         </div>

         </div>
  </div>

  <div style="margin-left:35px;" class="column">
    <div class="container">
      <p >Elecution</p>
       <div class="col">

         </div>

         </div>
  </div>

</div>
<div class="row">
  <div class="column">
    <div class="container">
      <p >Singing</p>
       <div class="col">

         </div>

         </div>
  </div>



</div>
<p style="margin-left:10%;font-size:25px;margin-top:5%;">Quiz-whiz</p>
<div class="row">
  <div class="column">
    <div class="container">
      <p >Quizz whizz</p>
       <div class="col">

         </div>

         </div>
  </div>
  </div>
  <p style="margin-left:10%;font-size:25px;margin-top:5%;">Test</p>
  <div class="row">
    <div class="column">
      <div class="container">
        <p >Daigonastic Test</p>
         <div class="col">

           </div>

           </div>
    </div>

    <div style="margin-left:35px;" class="column">
      <div class="container">
        <p >Progressive Test</p>
         <div class="col">

           </div>

           </div>
    </div>

  </div>
  <div class="row">
    <div class="column">
      <div class="container">
        <p >1st Benchmark test</p>
         <div class="col">

           </div>

           </div>
    </div>
    <div style="margin-left:35px;" class="column">
      <div class="container">
        <p >2nd Benchmark test</p>
         <div class="col">

           </div>

           </div>
    </div>


  </div>
  <div class="row">
    <div class="column">
      <div class="container">
        <p >3rd Benchmark test</p>
         <div class="col">

           </div>

           </div>
    </div>
    <div style="margin-left:35px;" class="column">
      <div class="container">
        <p >Final Benchmark test</p>
         <div class="col">

           </div>

           </div>
    </div>


  </div>
  <p style="margin-left:10%;font-size:25px;margin-top:5%;">Events</p>
  <div class="row">
    <div class="column">
      <div class="container">
        <p >Engli</p>
         <div class="col">

           </div>

           </div>
    </div>
    <div style="margin-left:35px;" class="column">
      <div class="container">
        <p >English Grammer</p>
         <div class="col">

           </div>

           </div>
    </div>



  </div>
  <div class="row">
    <div class="column">
      <div class="container">
        <p >English Grammer</p>
         <div class="col">

           </div>

           </div>
    </div>
    </div>
    <div class="container" style="bottom:0;position:fixed;width:100%;background-color:white;">
      <div  class="row" >
        <div class="column">
      <button style="float:left;margin-left:-5%;" class="button button4" (click)="gotosubpage()">Subscribe</button>
        </div>
        <div class="column">
            <button style="float:left;" class="button button4" (click)="gotosubpage()">Free trail</button>
        </div>
      </div>
    </div>
