<div class="card">
  <div class="container">
     <div class="col">
           <img src="assets\LOGO.jpeg" alt="Starkwiz">
       <p style = "margin-top:30px">Forgot password</p>
       <p>Emter your email id for the verifiavtion process <br>
       We will send 6 digits code to your email </p>
       <form >
         <input type="text" name="Email" placeholder="Email id">
       </form>
         <button class="button button5" (click) = "eighthscreen()">Verify</button>
     </div>
  </div>
</div>
