<div class="hubrepeat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
    <li><i class="fa fa-chevron-circle-left" style="font-size:30px;color:rgb(137,207,240);padding:20px;"></i></li>

    <img src="assets\LOGO.jpeg" alt="">
  <li style="float:right"><i class="fa fa-bell" style="font-size:24px;padding:20px;color:rgb(137,207,240);" ></i></li>
  </ul>

</div>
<p style="font-size:25px;margin-left:10%;">Offers for you</p>

<div class="container">
  <div class="column">
    <p>Get upto 10% extra <br> discount on Plus and iconic <br> subscription</p>
    <p style="color:cyan;">Reedeem credits to avail up to <br>
    10% extra discount or any <br> plus & iconic subscription</p>
  </div>
</div>
<hr>
<div class="container">
  <div class="column">
    <p>Get upto 10% extra <br> discount on Plus and iconic <br> subscription</p>
    <p style="color:cyan;">Reedeem credits to avail up to <br>
    10% extra discount or any <br> plus & iconic subscription</p>
  </div>
</div>
